.wrapper {
  border: 1px solid #ddd;
  width: 1250px;
}
.name{
  display: flex;
  background-color: #04AA6D;
  width: 1250px;
}
 .table {
   display: flex;
 }

.name p {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  margin-left: 150px;
}

#name {
  margin-left: 10px;
}

#dial {
  margin-left: 30px;
}

#iso {
  margin-left: 170px;
}

#flag {
  margin-left: 70px;
}